@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@700&family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#e66465, #9198e5);
    color: black;
    font-family: 'Chivo', sans-serif;
}

.location, .degree{
    height: 300px;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;   
}
.location p{
    font-size: 55px;
    font-family: 'Pacifico', cursive;
}
.location{
    font-size: 30px;
    padding:0 20px ;
}

.degree{
    flex-direction: column;
}

.degree h2 {
    font-size: 60px;
    cursor: pointer;
}
.degree p{
    margin: 15px 0 0 400px;
    font-size: 30px;
}